@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  transition: all 0s ease;
}
 h3{
  color: #7E7E82;
  font-weight: 400;
  margin-bottom: 40px;
  padding: 20px;
}

.swiper{
  max-width: 1400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: 30px;

  background-color: #F8F8F8;
  padding: 20px;
}
.swiper-wrapper{
 max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 10px 60px;
max-height: 190px;
overflow: hidden;
transition: max-height 1s ease;
 display: grid;
 grid-template-columns: repeat(4, 1fr);
grid-template-rows: 70px 70px;
gap: 20px ;
justify-content: center;
align-items: center;


}
.swiper-wrapper.expanded{
  max-height: 500px;

}
.read-more{
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 90px;
  width: 100%;
  height: 25px;
  cursor: pointer;
}
.arrow-btn{
  transform: rotate(180deg);

  transition: rotate 1s ease;
}
.arrow-btn.expand{
  transform: rotate(360deg);

}